@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
body{
  background: black;
  font-family: 'Montserrat Alternates', sans-serif;
}
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 8.4vh;
height: 4.2vh;
text-align: center;
vertical-align: middle;
font-size: 1.25em;
}
 body{
  background-color: black;
 }

.sideNav {
background: rgb(0, 0, 0);
border-right: 0;
border-left: 2px solid #000000;
position:absolute;
top:0;
bottom:0;
height:100%;
right: 0;
width: 4%;
overflow:hidden;

transition:width .05s linear;

z-index:1000;
}

.sideNav>ul {
margin: 0.994vh 0;
}



.sideNav li>button {
position:relative;
display:table;
border: none;
border-collapse:collapse;
border-spacing:0;
background: rgb(0, 0, 0);
color: rgb(243, 243, 243);
 font-family: arial;
font-size: auto;
width: 100%;
text-decoration:none;
text-align: center;
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.sideNav .nav-icon {
position:relative;
display:table-cell;
width:8.4vh;
height:5vh;
text-align:center;
vertical-align:middle;

}



.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:hidden;
overflow:hidden;
}

button:hover,button:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}

.sideNav li:hover button,
nav.sideNav li.active>button,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover button,
.dashboard-page nav.dashboard-menu ul li.active button {
color:#296BFF;
background-color:rgb(255, 255, 255);
}
.area {

background: rgb(218, 218, 218);
width: 100%;
height: 100%;
}


.sideCont{
  color: rgb(251, 249, 249);
  background: rgb(0, 0, 0);
  text-align: center;
  position: fixed;
  top:0;
  bottom:0;
  height:100%;
  right: 0; 
  margin-right: 4%;
  width: 20%;
  overflow-y:  auto;
  overflow-x: hidden  ;
  -webkit-transition:width .05s linear;
  transition:width .05s linear;
  
}


@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}




.featuredBtn.active {
  color:#296BFF;
  background-color:rgb(255, 255, 255);
}

.featuredBtn {
  background: rgb(250, 246, 246);
  color: rgb(0, 0, 0);
  padding-top: 0.5vh;
}




/*------ detail sideCont scrollbar css-----------*/

::-webkit-scrollbar {
  width: 1.4vh;

}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5vh rgb(255, 255, 255); 
  border-radius: 1vh;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #979797; 

  border-radius: 1vh;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff; 
}



/* embeded trailer css*/

.myIframe {
  position: relative;
  left: -3.5vh;

  padding-bottom: 97vh;
  margin-right: 21.5%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.myIframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
}
.angiud{
  color: #296BFF;

  margin-bottom: 1vh;
  width: 35vh;
  height: 10vh;
 


  
}

.angiud:hover{
  border: px solid #296BFF;

  
}

.movies ul li {
  list-style-type: none;
  
}
ul li a{
  text-transform: lowercase;

  color: #ffffff;
  
}
ul li :hover{

  color: #296BFF;
  
}

ul li a img{
  margin-left: -50px;
  width: 80%;
  height: 100%;
}