body{
    margin: 0;
    padding: 0;
    background-color: rgba(151, 151, 151, 0.03);
    font-family: 'Montserrat Alternates', sans-serif;
}

*{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 1px solid rgba(236, 236, 236, 0.04);
    background-color: rgb(247,247,247);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    
 
}



.logo img{
    height: 5vh;
}

nav .menu{
    display: flex;
}

nav .menu li{

    padding-right: 2vh;

}

nav .menu li a{
    height: 40px;
    line-height: 43px;
    margin: 0;
    
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    color: #1b0f44;
    letter-spacing: 0.1em;
    left: 0;
}

.search{
  
    width: 30vh;
    height: 4vh;
    background-color: rgba(17, 17, 17, 0.8);
    display: flex;
    justify-content: center;
    border-radius: 2vh;
    padding: 0px 2vh;
}

.search input{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
}

.search i{
    
    padding-top: 6px;
    color: #ffffff;
}
nav .menu li a:hover{

    color: #296BFF;
    box-shadow: 5px 10px 30px rgba(32, 31, 31, 0.04);
    transition: all ease;
    
}

.settings i{
    color: rgba(17, 17, 17, 0.8);
    font-size: 1.5em;
}

#main{
    padding-top: 5vh;
    color: #000000;
    height: 1px;
}

.slider-item{
    width: 10vh;
    height: 3vh;
  
}
/*
.slider-item:hover{
	transform: scale(1.05);


}

.slider-item img{
    padding-top: 1%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 1em;
}

.slider-heading{
    padding-left: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1a1a1a;
}



.slider{
    width: 100%;
    height: 36vh;
    overflow: hidden;
    
}

.slides{
    width: 600%;
    height: 36vh;
    
}
*/
.top-content{
    position: absolute;
 
    width: 100%;
    height: 75%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.top-content-img {
    position: absolute;

    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}